<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SyncanoClientSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11224C611BBC19D600C460A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11224C761BBC19D600C460A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D7E4FC1DF839C900E84EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11D7E5041DF839C900E84EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
